.about-section {
  padding: 10px 10px;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  color: white;
}

.about-section h2 {
  font-family: "Arvo";
  margin-bottom: 3px;
  font-size: 2rem;
  border-bottom: 2px solid #61dafb;
  padding-bottom: 10px;
  display: inline-block;
}

.about-section p {
  font-family: "Arvo";
  font-size: 1.1rem;
  text-align: left;
}