.projects-section {
  border-radius: 10px;
}

.projects-section p{
  margin-bottom: 20px; /* Space between paragraph and project list */
}

.projects-section h2 {
  font-family: "Arvo";
  padding: 1rem 1rem 0.3rem;
  font-size: 2rem;
  border-bottom: 2px solid #61dafb;
  display: inline-block;
}

/* Remove top margin from the very first h2 to keep it aligned */
.projects-section > h2:first-of-type {
  margin-top: 0;
}

.projects-section p {
  font-family: "Arvo";
  font-size: 1.1rem;
  padding: .5rem;
}

.projects-section .project-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Center the cards in the container */
  gap: 20px; /* Space between project cards */
  margin-top: 2rem; /* Add space between the title and the cards */
}